.app{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(17, 4, 4);
  background-size: cover;
  width: 100vw;
  padding: 20px;

  @media  screen and (max-width:600px) {
    display: flex;
    flex-direction: column; 
    justify-content: center;   
  }
}

.main-con{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media screen and (max-width:600px){
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.logo-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
  margin: 20px;

  @media only screen and (max-width:600px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.logo-inner-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.logo{
  width: 80px;
  height: 80px;

  @media  screen and (max-width:600px) {
    width: 40px;
    height: 40px;
  }
}

.logo-name{
  font-family: "Roboto";
  font-size: 32px;
  font-weight: bold;
  color: white;

  
  @media  screen and (max-width:600px) {
    font-size: 18px;
    margin-left: 6px;
  }
}

.person-picture{
  height: 60px;
  width: 60px;
  border-radius: 30px;

  @media  screen and (max-width:600px) {
    width: 30px;
    height: 30px;
  }
}

.cover-img{
  display: flex;
  justify-content: center;
  margin: 20px;
  margin-top: 80px;

  @media  screen and (max-width:600px) {
    display: flex;
    flex-direction: column;
  }
}